form{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 15px;
    justify-content: flex-start;
}
form .categoria{
    width:  40%;
    margin: 10px;
    padding-inline: 15px;
}
form .categoria .fotoperfil, form .categoria .perfil{
    display:flex;
    flex-direction: column;
}
input{
    border-radius: 4px;
    max-width: 100%;
    overflow: hidden;
}
input[type="file"]{
    color: rgba(0, 0, 0, 0); /*USO COLOR ASI DESAPARECE EL TEXTO DE "NO HA SELECCIONADO ARCHIVO" , CON OPACITY SE BORRA EL BOTON*/
}
.mercadoenvios{
    border: 1px solid #0f56a1;
    border-radius: 4px;
    padding: 4px;
    width: fit-content;
    color:white;
    background-color: #0f56a1;
    box-shadow: 0px 0px 10px #03264C;
    transition:all 400ms;
}
.mercadoenvios:hover{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
.mercadoenvios a{
    text-decoration: none;
    color: #EAC926;
    cursor: pointer;
}
p.small{
    font-size: small;
}
/* BOTONES SUBMIT */
form button {
    margin:auto;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    /*transicion*/
    transition: all 300ms;
    background-color: #0f56a1;
  
    color:white;
    
}
form button:hover{
    background-color: #EAC926;
    border-radius: 8px;
    color:#03264C;
    border-color: #EAC926;
}
/* FOTO PERFIL*/
input[type="file"]{
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: none;
    border: 0;
    cursor:pointer;
}
.fotoPerfil{ 
    border-radius: 4px;
    border: 1px solid black;
    display: inline-block;
    padding: 2.2rem;
    cursor: pointer;
    position: relative;
    bottom: 30px;
}
.fa-add:before, .fa-plus:before {
    color: var(--fondo-sitio);
    font-size: 1.2rem;
}
/*FIN FOTO PERFIL*/

@media (min-width: 361px){
    form{
        flex-direction: row;
        justify-content: space-around;
    }
    form .categoria{
        width: 28%;
    }
    form .intereses .categoria{
        align-items: center;
    }

}
@media (min-width: 769px){
    main{
        padding-inline: 40px;
    }
    form .categoria{
        width: 40%;
    }
    .mercadoenvios{
        width: 50%;
    }
}


/* LOGIN */
section.formulario{
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
section.formulario .datos{
    display: flex;
    flex-direction: column;
    padding: 20px 5px 20px 5px;
    width: 62%;
    margin: auto;
}
.loginbutton{
    text-align: center;
    width: 100%;
}
.olvide a.olvide{
    font-size: small;
}
.olvide{
    text-align: right;
}
.remember{
    margin-top:20px;
    text-align:center;
    width: 90%;
}
.olvide a.olvide:hover{
    text-decoration: none;
    color:#EAC926;
}
