
form{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 15px;
    justify-content: flex-start;
}
form .categoria{
    width:  40%;
    margin: 10px;
    padding-inline: 15px;
}
form .categoria .fotoperfil, form .categoria .perfil{
    display:flex;
    flex-direction: column;
}
input{
    border-radius: 4px;
    max-width: 100%;
    overflow: hidden;
}
input[type="file"]{
    color: rgba(0, 0, 0, 0); /*USO COLOR ASI DESAPARECE EL TEXTO DE "NO HA SELECCIONADO ARCHIVO" , CON OPACITY SE BORRA EL BOTON*/
}
.mercadoenvios{
    border: 1px solid #0f56a1;
    border-radius: 4px;
    padding: 4px;
    width: fit-content;
    color:white;
    background-color: #0f56a1;
    box-shadow: 0px 0px 10px #03264C;
}
.mercadoenvios a{
    text-decoration: none;
    color: #EAC926;
    cursor: pointer;
}
p.small{
    font-size: small;
}
/* BOTONES SUBMIT */
form > button {
    margin: 30px;
    cursor: pointer;
    transition: all 300ms;
    
}
form button:hover{
    background-color: #0f56a1;
    border-radius: 4px;
    color:white;
    border-color: #03264C;
    cursor: pointer;
}


@media (min-width: 361px){
    form{
        flex-direction: row;
        justify-content: space-around;
    }
    form .categoria{
        width: 28%;
    }
    form .intereses .categoria{
        align-items: center;
    }

}
@media (min-width: 769px){
    main{
        padding-inline: 40px;
    }
    form .categoria{
        width: 40%;
    }
    .mercadoenvios{
        width: 50%;
    }
}