/* ----- PALETAS DE COLORES -----*/
COLORES{
    color: #666;    /* Gris oscuro */
    color: #ebebeb; /* Gris claro  */
    color: #39b54a; /*    Verde    */
    color: #EAC926; /*   Amarillo  */
    color: #03264C; /*     Azul    */
    color: #1259c3  /*   Celeste   */
}
/* -------- TAMAÑOS TIPOGRAFICOS ------
Cuerpos de texto: 12px
Titulares (Basado en tu última visita/Ofertas): 24px
Precios: 18px
Descuentos: 16px
Descripciones: 16px                  */

*{
    font-family: 'Roboto', sans-serif;
    outline: 1px solid red;
}
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;   
}
/* ------ HEADER ----- */
header {
    border: #EAC926, 16px;
    font-size: 12px;
}
header p{
    text-align: center;
    color:#03264C;
}
header .fondo-amarillo {
    background-color: #EAC926;
    padding-bottom: 10px;
    padding-top: 10px;
}
header .fondo-amarillo .contenedor-ppal-header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 2px;
}

header .fondo-amarillo .logo-header{
    width: 50%
}
header .fondo-amarillo .searchbar-header{
    width: 50%;
    display: flex;
    flex-direction: row;
}
header .fondo-amarillo input{
    line-height:20px;
    overflow: hidden;
    border: none;
    border-radius: 4px;
}
button.lupa{
    background-color: rgb(255, 255, 255);
    border:none;
    position: relative;
    right:20px;
    border-radius: 4px;
}
button i.fa-search{
 color:#666;
}

/* ----- NAV DEL HEADER ------ */

nav {
    display:none;
    text-align: left;
    margin-left: 0px;
    border-left: 0;
    padding-left: 0px;
}
ul {
    padding-left: 0px;
}
.links-nav {
    list-style-type: none;
    text-align: left;
}
ul.links-nav li a{
    text-decoration: none;
    color:#03264C;
}
.burger-menu {
   text-align: center;
}
.burger-menu i{
    background-color: #0f56a1;
    color: white;
    text-decoration: none;
    width: 18px;
    height: 18px;
    padding: 3px;
    border-radius: 5px;
    border: 5rem;
    position: relative;
}
.fa-bars:before {
    display:block;
    position: relative;
    top: 3px;
}


/* ------  FIN HEADER  ------ */

img.banner{
    display: block;
    width: 100vw;
}

/* ------ INICIO MAIN ------ */

main{
    background-color:#ebebeb;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
main section{
    width: 90vw;
    display:block;   
}
main section article{
    transition: box-shadow 300ms;
    margin: 10px 0px;
    background-color: white;
    display: inline-block;
    transition: all 300ms;
    
}
main section article img{
    width: 100%;
}
main section article {
    padding: 2px;
    
}
main section .contenedor-articulos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5px;
}

main section article h3.descripcion{
    opacity: 0;
    display:none;
    transition:all 300ms;
}

main section article .producto{
    border-top: 1px solid #ebebeb;
    padding: 10px 4px 10px 10px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

main section article .producto i{
    display: block;
    border-radius: 50px;
    width: 16px;
    height: 16px;
    border: 1px solid #39b54a;
    background-color: white;
    color: #39b54a;
    padding: 5px;
    position: relative;
    top: -85px;
    right: -65px;
    transition: all 500ms;
}

main section article:hover i{
    transform:rotateZ(630deg);
}

.fa-truck:before {
    position: relative;
    right: 1px;
}

main section article .producto .precio {
    font-size: 18px;
    width: 45%;
}

main section article .producto .descuento {
    font-size: 16px;
    width: 45%;
    color: #39b54a;
    padding-left: 10px;
}

h3 {
    font-size: 16px;
    display: inline;
}
h2{
    font-size: 24px;
    color:#666;
}
h4 {
    margin: 2px;
}

/* FIN MAIN ------ INICIO FOOTER*/
footer {
    text-align: center;
    margin-inline: 10px, #666;
    background-color: #ebebeb;
    padding-top: 14px;
}

footer p {
    font-size: 12px;
    margin: 0;
    padding: 6px;
}

.texto-footer {
    margin-top: 2px;
    margin-inline: 30px;
}

footer .fa-solid {
    color: #0f56a1;
    font-size: 2em;
    margin-bottom: 10px;
}

.copyright {
    text-align: left;
    margin-inline-start: 6px;
    text-align: center;
}

/* ~~~ Tablet ~~~ */
@media(min-width: 361px){
    .logo-header img{
        width: 9rem;
        padding-left: 30px;
    }
    
    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    nav ul{
        display:flex;
        flex-direction: column;
    }
    .burger-menu {
        display:none;
     }
    article{
        width: 40vw
    }
    main section article:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    main section article:hover h3.descripcion{
        display:block;
        opacity:100;
    }
    main section article .descripcion{
        display: block;
        
    }
    main section article .producto i{
        right: -30%;
        top: -85px;
    }
}   
@media (min-width: 451px) {
    .top-header{
        display:flex;
        flex-direction: row;
        justify-content: space-around;
    }
    header .fondo-amarillo .contenedor-ppal-header{
        width:66%;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: center;
    }
    
    header .fondo-amarillo .searchbar-header{
        height: 1.2rem;
        width: 35%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        flex-wrap: nowrap;

    }
    header .fondo-amarillo .frase-header{
        width:33%;
    }
    button.lupa{
        text-align: center;
        height: 1.2rem;
        width: 1.2rem;
        padding-top: 2px;
        padding-left: 1.5px;
        padding-right: 2px;
        background-color: #e7e7e7;
        position: relative;
        left: 4px;
        border: 1px solid black;

    }
    button i.fa-search{
        color:black
       }

    nav{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0px 20px;
    }
    nav ul.links-nav{
        display:flex;
        flex-direction: row;
    }
    nav ul.links-nav > li {
        padding: 0px 10px;
    }

/*~~~ Desktop ~~~*/

@media (min-width: 769px) {
    header .fondo-amarillo{
        padding-bottom: 8px;
    }
    nav ul.links-nav > li {
        padding: 0px 14px;
    }
    article{
        width: 21vw;
    }
   footer{
        display: flex;
        flex-direction: row;
        justify-content: space-around
    }
    .elemento-footer{
        width: 33%;
    }
    footer p.copyright{
        margin:auto;
        position: relative;
        top: -3px;
        right: 33vw;
        
    }
}